---
---

// start content
.tag {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
}