---
layout: page
---
<link rel="stylesheet" href="/css/adr.css">
<article class="post">
  <header class="post-header">
    <h1 class="post-title">ADR-{{ page.num | escape }}: {{page.title | escape }}</h1>
  </header>

  <div>
    <div>Status: <span class="status-{{page.status | downcase }}">{{ page.status | escape }}</span>
    {% if page.superseded_by %}
    <strong>(superseded by: <a href="../{{page.superseded_by}}">ADR-{{ page.superseded_by | escape }}</a>)</strong>
    {% endif %}
    </div>
    <div>Authors:
      {% for author_name in page.authors %}
      {% assign author_id = author_name | downcase | replace: " ", "_" %}
      {% assign author_github = site.data.people[author_id].github %}
      {% if author_github %}{% avatar user=author_github %}{% endif %}
      {{ author_name }}{% if forloop.last==false %}, {% endif %}
      {% endfor %}
    </div>
    {% if page.tags.size > 0 %}
    <div>Tags: 
      {% for tag in page.tags %}
      <span class="tag tag-{{tag}}">{{tag}}</span>
      {% endfor %}
    </div>
    {% endif %}
    {% if page.applies_padrs.size > 0 %}
    <div>Applies PADRs: 
    {% for padr in page.applies_padrs %}
    <a href="/padr/{{padr}}">PADR-{{padr}}</a>{% if forloop.last==false %}, {% endif %}
    {% endfor %}
    </div>
    {% endif %}
  </div>

  <div class="post-content">
    {{ content }}  
  </div>

</article>
